/* CSS untuk body */
body {
    background-color: #f8f3f3;
    color: #ffffff;
    margin: 0; 
    font-family: Arial, sans-serif; 
}

/* CSS untuk heading */
h1, h2, h3, h4, h5, h6 {
    color: #1e1e1e;
    margin-top: 0; 
}

/* CSS untuk navbar */
.navbar {
    background-color: transparent; 
    position: fixed; 
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 1;
    transition: background-color 0.3s;
}

.navbar.scrolled {
    background-color: black;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 600; /* Tambahkan font-weight bold */
    position: relative; /* Tambahkan posisi relatif untuk mengatur pseudo-elemen */
}

.navbar ul li a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px; /* Geser ke bawah sejauh 2px */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s, transform 0.3s ease-in-out; /* Tambahkan animasi perubahan warna dan transformasi */
}

.navbar ul li a:hover::after {
    background-color: white; /* Ubah warna latar menjadi putih pada hover */
    transform: scaleX(1); /* Setel skala X menjadi 1 pada hover */
}

/* CSS untuk hero */
.hero {
    height: 100vh;
    position: relative;
    color: #fff;
    text-align: center;
    background-size: cover; 
    background-position: center; 
}

.overlay-itro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.hero .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero .hero-title {
    font-weight : bold;
    font-size: 3rem;
    color: #fff;
}

@media (min-width: 768px) {
    .hero .hero-title {
        font-size: 4.5rem;
    }
}

.hero .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .hero .hero-subtitle {
        font-size: 2.5rem;
    }
}

.hero .text-slider-items {
    display: none;
}

.hero-single {
    height: 350px;
}

.hero-single .hero-content {
    margin-top: 30px;
}

.hero-single .hero-title {
    text-transform: uppercase;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .hero-single .hero-title {
        font-size: 3.5rem;
    }
}

.hero-single .breadcrumb {
    background-color: transparent;
    color: #0078ff;
}

.hero-single .breadcrumb .breadcrumb-item:before {
    color: #cde1f8;
}

.hero-single .breadcrumb .breadcrumb-item.active {
    color: #cde1f8;
}

.hero-single .breadcrumb a {
    color: #fff;
}

/* CSS untuk about */
.card {
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px; 
    margin: 50px auto;
    text-align: left; /* Mengatur teks menjadi rata kiri */
    overflow: hidden; /* Mencegah konten bocor dari floating elements */
}

.card img {
    width: 250px;
    height: 220px;
    border-radius: 20%;
    float: left; /* Menempatkan foto ke kiri */
    margin-right: 20px; /* Memberikan jarak antara foto dan teks */
}

.card h2 {
    margin-bottom: 10px;
    text-align: center; /* Mengatur teks ke tengah */
}


.card p {
    margin-bottom: 120px; /* Jarak bawah */
    color: black; /* Warna teks */
    font-size: large; /* Ukuran font lebih besar dari large */
}


.card p:last-child {
    margin-bottom: 0;
}

.card-info {
    margin-top: 20px; /* Memberikan jarak atas untuk elemen-elemen berikutnya */
}

.progress {
    margin-bottom: 20px; 
}

.progress-bar {
    background-color: #196d94;
    border-radius: 5px;
    height: 20px;
    line-height: 20px;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    text-align: left;
    padding-left: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #269211; 
    color: #ffffff; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s;
    border: none; 
    cursor: pointer; 
}

.btn:hover {
    background-color: #0056b3; 
}

.logo-language {
    display: flex;
    flex-wrap: wrap; /* Elemen-elemen akan melanjutkan ke baris baru jika ruang tidak cukup */
    justify-content: center; /* Pusatkan elemen-elemen secara horizontal */
    align-items: center;
    padding: 20px; /* Jarak antara gambar dengan tepi kontainer */
}

.logo-language img {
    max-width: 150px; /* Ukuran maksimum gambar */
    height: auto; /* Biarkan tinggi menyesuaikan proporsi gambar */
    margin: 50px; /* Jarak antara gambar */
}


/* CSS untuk portofolio */
#work {
    text-align: center;
}
  
#work .portfolio-img {
    border-radius: 0%;
    width: 100%; 
}

#portfolio-heading {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.portfolio-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.portfolio-card-container .card {
    width: calc(33.33% - 40px); 
    margin: 50px; 
}
  
.portfolio-card-container .portfolio-img {
    border-radius: 0;
    width: 100%; 
    height: auto; 
}

.card-img {
    width: 100%; /* Mengisi lebar maksimum dari kotak gambar */
    height: auto; /* Biarkan tinggi menyesuaikan proporsi gambar */
    object-fit: cover; /* Gambar akan dipotong atau diperkecil/diperbesar secara proporsional */
    border-radius: 0 !important; /* Membuat sudut gambar menjadi lurus */
}

/* CSS untuk Contact */
.contact-info {
    margin-top: 50px; /* Jarak dari bagian atas */
    padding: 20px; /* Padding untuk memberikan ruang di sekitar konten */
    border: 2px solid rgb(255, 255, 255); /* Memberikan border pada elemen */
    border-radius: 10px; /* Mengubah border menjadi berbentuk lengkung */
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    /* Membuat teks sedikit tidak terlalu tengah secara horizontal */
    text-align: justify;
}

.social-icons {
    margin-top: 20px; /* Jarak antara teks kontak dan ikon sosial */
}

.social-icons img {
    width: 30px; /* Ukuran gambar logo */
    margin-right: 10px; /* Jarak antara ikon sosial */
}

.contact-info h2 {
    text-align: center; /* Mengatur teks "Contact" menjadi di tengah */
}

.contact-info p {
    margin-bottom: 10px; /* Jarak antara setiap paragraf */
    font-size: 18px; /* Ukuran teks yang lebih besar */
    color: #000000;
}

.contact-info p strong {
    display: inline; /* Biarkan teks "Email", "WhatsApp", dan "Phone" tetap dalam satu baris dengan isinya */
    color:#0078ff; /* Warna teks menjadi biru */
    font-weight: bold; /* Membuat teks menjadi tebal (bold) */
}

.contact-info p span {
    display: block; /* Membuat setiap nilai kontak berada di baris baru */
    font-size: 20px; /* Ukuran teks yang lebih besar */
    color: #000000;
}

.contact-info p span {
    display: block; /* Membuat setiap nilai kontak berada di baris baru */
}

/* CSS untuk footer */
footer {
    background-color:#0078ff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px; /* Menambah jarak antara kontak dan footer */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content h3 {
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.footer-content h4{
    color: #fff;
}

.footer-content p {
    font-size: 14px;
    margin-bottom: 20px;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
}
